@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway.eot);
    src: url(../fonts/Raleway/Raleway.eot?#iefix) format("embedded-opentype"), url(../fonts/Raleway/Raleway.woff) format("woff"), url(../fonts/Raleway/Raleway.ttf) format("truetype"), url(../fonts/Raleway/Raleway.svg#Raleway-Light) format("svg")
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: Raleway, sans-serif
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../media/bg.png);
    filter: brightness(80%);
    -webkit-transition: filter 1s ease;
    -moz-transition: filter 1s ease;
    -o-transition: filter 1s ease;
    transition: filter 1s ease
}

.content {
    height: 600px;
    width: 1000px;
    border-radius: 5px;
    background: rgba(204, 204, 204, .7);
    border: 1px dashed #ccc;
    display: none
}

.shopList {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    min-height: 400px;
    margin-top: 10px
}

.shopOfferList {
    padding: 0 10px 10px;
    overflow-y: auto;
    height: auto;
    margin-bottom: -10px
}

.shopOfferList li:hover {
    cursor: pointer;
    background-color: #ccc
}

.addBtn, .substractBtn {
    border-radius: 15px;
    background-color: #000;
    border: 1px solid #666;
    outline: 0;
    color: #fff
}

.addBtn:hover, .substractBtn:hover {
    background-color: #4d4d4d;
    outline: 0;
    color: #fff
}

.addBtn:disabled, .substractBtn:disabled {
    background-color: #999;
    outline: 0;
    color: #fff;
    border-color: #999
}

.makeOrderBtn {
    margin-top: 10px;
    width: 100%;
    border: none;
    background: #76b852;
    background: -webkit-linear-gradient(to left, #26734d, #396);
    background: linear-gradient(to left, #26734d, #396);
    outline: 0
}

.makeOrderBtn:active, .makeOrderBtn:focus, .makeOrderBtn:hover {
    background: -webkit-linear-gradient(to right, #26734d, #396);
    background: linear-gradient(to right, #26734d, #396)
}

.totalPriceInput {
    max-width: 45%
}

.clearBtn:active, .clearBtn:focus, .clearBtn:hover, .removeBtn:hover {
    background: -webkit-linear-gradient(to right, #D31027, #EA384D);
    background: linear-gradient(to right, #D31027, #EA384D)
}

.clearBtn {
    width: 45%;
    border-radius: 5px;
    background: #D31027;
    background: -webkit-linear-gradient(to left, #D31027, #EA384D);
    background: linear-gradient(to left, #D31027, #EA384D);
    border: none
}

.removeBtn {
    background: #D31027;
    background: -webkit-linear-gradient(to left, #D31027, #EA384D);
    background: linear-gradient(to left, #D31027, #EA384D);
    border-radius: 4px;
    color: #fff;
    font-weight: bolder;
    margin-top: 1px;
    outline: 0
}

.shopList li button {
    width: 22px
}

.removeBtn, .shopList li .btn-danger {
    margin-left: 10px
}

.totalQuantity {
    max-width: 40px;
    margin: 0 5px;
    padding: 0 3px 0 0;
    height: 21px;
    text-align: center
}

.shopOfferContainer {
    max-height: 495px;
    overflow-y: auto
}

select {
    height: 40px;
    width: 92%;
    border-radius: 5px;
    text-align: center;
    border: 1px solid gray;
    margin: 20px 10px;
    outline: 0;
    cursor: pointer;
    padding-left: 15px
}

.chooseCategory {
    border-color: #ccc;
    text-align: left
}

.loadingAnimation {
    width: 40px;
    height: 40px;
    position: absolute
}

.firstPartAnimation, .secondPartAnimation {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #666;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out
}

.secondPartAnimation {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1.2)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1.2)
    }
}

[readonly] {
    background-color: #fff !important
}

.mainContainer .content :focus, :active {
    outline: 0
}

.shopOfferContainer .shopOfferList li.ng-enter {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    transform: translateY(-40px)
}

.shopList li.ng-enter, .shopOfferContainer .shopOfferList li.ng-leave {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

.shopOfferContainer .shopOfferList li.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0)
}

.shopOfferContainer .shopOfferList li.ng-leave {
    transition: all .3s ease;
    opacity: 1;
    transform: scale(1)
}

.shopOfferContainer .shopOfferList li.ng-leave.ng-leave-active {
    opacity: 0;
    transform: scale(.1)
}

.shopList li.ng-enter {
    transition: all .3s ease;
    opacity: 0;
    transform: translateY(-40px)
}

.shopList li.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0)
}

.shopList li.ng-leave {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 1;
    transform: scale(1)
}

.shopList li.ng-leave.ng-leave-active {
    opacity: 0;
    transform: scale(.1)
}
