/*
############################### FONT--FACES
*/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway.eot');
    src: url('../fonts/Raleway/Raleway.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway/Raleway.woff') format('woff'), url('../fonts/Raleway/Raleway.ttf') format('truetype'), url('../fonts/Raleway/Raleway.svg#Raleway-Light') format('svg');
}

/*
############################### CSS--RESET
*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/*
############################### MAIN-CSS
*/
body {
    -webkit-font-smoothing: antialiased;
    font-family: Raleway, sans-serif;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../media/bg.png");
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
    transition: -webkit-filter 1s ease;
    transition: -ms-filter 1s ease;
    transition: filter 1s ease;
}

.content {
    height: 600px;
    width: 1000px;
    border-radius: 5px;
    background: rgba(204, 204, 204, 0.7);
    border: 1px #ccc dashed;
    display: none;
}

/*
############################### RIGHT-PANEL
*/
.shopList {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    min-height: 400px;
    margin-top: 10px;
}

.shopOfferList {
    padding: 0 10px 10px 10px;
    overflow-y: auto;
    height: auto;
    margin-bottom: -10px;
}

.shopOfferList li:hover {
    cursor: pointer;
    background-color: #ccc;
}

.addBtn, .substractBtn {
    border-radius: 15px;
    background-color: #000;
    border: 1px solid #666;
    outline: none;
    color: white;
}

.addBtn:hover, .substractBtn:hover {
    background-color: #4d4d4d;
    outline: none;
    color: white;
}

.addBtn:disabled, .substractBtn:disabled {
    background-color: #999;
    outline: none;
    color: white;
    border-color: #999;
}

.makeOrderBtn {
    margin-top: 10px;
    width: 100%;
    border: none;
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #26734d, #339966); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #26734d, #339966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    outline: none;
}

.makeOrderBtn:hover, .makeOrderBtn:focus, .makeOrderBtn:active {
    background: -webkit-linear-gradient(to right, #26734d, #339966); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26734d, #339966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.totalPriceInput {
    max-width: 45%;
}

.clearBtn:hover, .clearBtn:active, .clearBtn:focus, .removeBtn:hover {
    background: -webkit-linear-gradient(to right, #D31027, #EA384D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D31027, #EA384D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.clearBtn {
    width: 45%;
    border-radius: 5px;
    background: #D31027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D31027, #EA384D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #D31027, #EA384D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
}

.removeBtn {
    background: #D31027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D31027, #EA384D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #D31027, #EA384D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 4px;
    color: white;
    margin-left: 10px;
    font-weight: bolder;
    margin-top: 1px;
    outline: none;
}

.shopList li button {
    width: 22px
}

.shopList li .btn-danger {
    margin-left: 10px;
}

.totalQuantity {
    max-width: 40px;
    margin: 0 5px;
    padding: 0 3px 0 0;
    height: 21px;
    text-align: center;
}

/*
############################### LEFT-PANEL
*/
.shopOfferContainer {
    max-height: 495px;
    overflow-y: auto;
}

select {
    height: 40px;
    width: 92%;
    border-radius: 5px;
    text-align: center;
    border: 1px solid gray;
    margin: 20px 10px;
    outline: none;
    cursor: pointer;
    padding-left: 15px;
}

.chooseCategory {
    border-color: #ccc;
    text-align: left;
}

/*
############################### PAGELOAD-ANIMATION
*/
.loadingAnimation {
    width: 40px;
    height: 40px;
    position: absolute;
}

.firstPartAnimation, .secondPartAnimation {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #666;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.secondPartAnimation {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.2)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.2);
    }
}

/*
############################### HTML5&BOOTSTRAP OVERWRITE
*/
[readonly] {
    background-color: #fff !important;
}

.mainContainer .content *:focus, *:active {
    outline: none;
}

/*
############################### ANGULAR ANIMATIONS
*/
.shopOfferContainer .shopOfferList li.ng-enter {
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    opacity: 0;
    transform: translateY(-40px);
}

.shopOfferContainer .shopOfferList li.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.shopOfferContainer .shopOfferList li.ng-leave {
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    opacity: 1;
    transform: scale(1);
}

.shopOfferContainer .shopOfferList li.ng-leave.ng-leave-active {
    opacity: 0;
    transform: scale(.1);
}

.shopList li.ng-enter {
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    opacity: 0;
    transform: translateY(-40px);
}

.shopList li.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.shopList li.ng-leave {
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    opacity: 1;
    transform: scale(1);
}

.shopList li.ng-leave.ng-leave-active {
    opacity: 0;
    transform: scale(.1);
}
