<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Shopping cart app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<div class="mainContainer">
    <div class="loadingAnimation">
        <div class="firstPartAnimation"></div>
        <div class="secondPartAnimation"></div>
    </div>

    <div class="content" ng-controller="MainController">

        <div class="col-xs-6">
            <select class="chooseCategory" ng-model="filterCategory">
                <option value="" disabled selected>- choose category -</option>
                <option value="drink">Drink</option>
                <option value="food">Food</option>
                <option value="miscellanous">Miscellanous</option>
                <option value="">All products</option>
            </select>
            <div class="shopOfferContainer">
                <ul class="list-group shopOfferList">
                    <li class="list-group-item" ng-hide="product.isHidden"
                        ng-repeat="(id, product) in shopOffer | filter : filterCategory | orderBy: 'name'"
                        ng-click="addToShoppingList(product)">
                        <strong>{{ product.name }}</strong> - {{ product.price | currency }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-6">
            <ul class="list-group shopList">
                <li class="list-group-item" ng-repeat="(id, product) in itemsToBuy">
                    <strong>{{ product.name }}</strong> - {{ product.price | currency }}
                    <button ng-click="removeFromCart(id)" class="pull-right removeBtn">X</button>
                    <button ng-click="addQuantity(id)" ng-disabled="product.quantity >= 15"
                            class="pull-right addBtn">&plus;</button>

                    <input readonly type="text" value="{{ product.quantity }}"
                           class="form-control totalQuantity pull-right"/>

                    <button ng-click="substractQuantity(id)" ng-disabled="product.quantity == 1"
                            class="pull-right substractBtn">&minus;
                    </button>
                </li>
            </ul>

            <button class="btn btn-danger clearBtn" ng-disabled="!checkLengthOfShoppingList()" ng-click="clearCart()">
                Clear the cart
            </button>
            <input readonly type="text" value="{{ totalPrice }}"
                   class="form-control totalPriceInput pull-right"/>
            <button class="btn btn-success makeOrderBtn" ng-disabled="!checkLengthOfShoppingList()"
                    ng-click="confirmOrder(); clearCart()">Submit your order
            </button>
        </div>

    </div>
</div>

<script src="js/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/scripts.js"></script>
<script>
    var app = angular.module('app', ['ngAnimate', 'controllers']);
</script>
</body>
</html>